body {
    font-size: 18px;
    line-height: 1.5;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: 'Fraunces', serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1.0rem;
    border-radius: 10px;
    font-size: 22px;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 1.0rem;
    border-radius: 10px;
}

h1 {
    background-color: rgb(0, 140, 255);
    padding: 1.0rem;
    border-radius: 50%;
    text-align: center;
}

h2 {
    text-align: center;
}

/* Phone View */
@media only screen and (min-width:19.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 0.8rem;
        border: solid;
        font-family: 'Roboto Condensed', sans-serif;

    }

    p img {
        border-bottom: ridge;
        border-top: ridge;
    }

    section {
        border: ridge;
        font-family: 'Roboto Condensed', sans-serif;
    }
}

/* Tablet View*/
@media only screen and (min-width:37.5em) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 0.8rem;
        border: solid;
        font-family: 'Roboto Condensed', sans-serif;

    }

    p img {
        border-bottom: ridge;
        border-top: ridge;
    }

    section {
        border: ridge;
        font-family: 'Roboto Condensed', sans-serif;
    }

}

/* Desktop View */
@media only screen and (min-width:60em) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 0.8rem;
        border: solid;
        font-family: 'Roboto Condensed', sans-serif;
    }

    p img {
        border-bottom: ridge;
        border-top: ridge;
    }

    section {
        border: ridge;
        font-family: 'Roboto Condensed', sans-serif;
    }

}